[default]
aws_access_key_id = {{ (bitwardenFields "item" "9f2e645c-82d3-4909-8017-ab81002560e0").AccessKey.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "9f2e645c-82d3-4909-8017-ab81002560e0").SecretKey.value }}

[kyle]
aws_access_key_id = {{ (bitwardenFields "item" "d3418e2c-63c0-4403-8cca-ab81002560e1").AWSAccessKey.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "d3418e2c-63c0-4403-8cca-ab81002560e1").AWSSecretAccessKey.value }}
