# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# Load the shell dotfiles:
for file in ~/.{bash_settings,bash_prompt,exports,aliases,functions,extra,applications}; do
  [ -r "$file" ] && [ -f "$file" ] && source "$file";
done;
unset file;
