#!/bin/bash
{{ if (eq .chezmoi.osRelease.id "arch") }}
  sudo pacman -Sy --needed git keychain nano-syntax-highlighting base-devel byobu starship
  sudo pacman -Sdd bitwarden-cli
  # Install aura, if needed
  if [ ! -f /usr/bin/aura ]
  then
    cd /tmp
    git clone https://aur.archlinux.org/aura-bin.git
    cd aura-bin
    makepkg -s
    sudo pacman -U --needed aura-bin-*
    rm -rf aura-bin
  fi
{{ else }}
  sudo apt install -y keychain byobu git
  [[ ! -d /usr/share/nano-syntax-highlighting ]] && sudo git clone https://github.com/scopatz/nanorc.git /usr/share/nano-syntax-highlighting
  [[ ! -x "$(starship)" ]] && curl -sS https://starship.rs/install.sh | sh
{{ end }}
